<meta charset="utf-8">
<hr>
<p id="liste">Liste de jeux</p>
<hr>
<div class="row">
<p ng-if="liste.length > 0">{{liste.length}} résultats</p>
<table class = "table table-game col-md-12 col-xs-12" id="policetable">
    <tbody>
    <thead>
    	<tr>
    		<th>Titre</th>
    		<th>Type</th>
    		<th>Pegi</th>
    		<th>Editeur</th>
    		<th>Prix</th>
    		<th>Fiche Jeu</th>
    		<th ng-show="isAdmin()">Éditer</th>
    	</tr>
    </thead>
        <tr ng-repeat="jeux in liste">
            <td>
                <span ng-bind="jeux.title"></span>
            </td>
            <td>
                <span ng-bind="jeux.type"></span>
            </td>
             <td>
                <span ng-bind="jeux.pegi"></span>
            </td>
            <td>
                <span ng-bind="jeux.gamePublisher"></span>
            </td>
            <td>
                <span ng-bind="jeux.price"></span>
            </td>
            <td>
            	<a href=""><span class="fa fa-search-plus" data-placement="bottom" title="Details" x-ng-click="openModalDetail(jeux)"></span></a>
            </td>
            <td x-ng-show="isAdmin()" class="row">
            	<span class="fa fa-pencil-square-o col-lg-4 col-md-4 col-sm-4 col-xs-4" data-placement="bottom" title="Edit" x-ng-click="openModalEdit(jeux)" ></span>
            	<span class="fa fa-trash col-lg-4 col-md-4 col-sm-4 col-xs-4" data-toggle="tooltip" data-placement="bottom" title="Delete" x-ng-click="deleteProduct(jeux.id)"></span>
            	<input class="en-or-dis col-lg-4 col-md-4 col-sm-4 col-xs-4" type="checkbox" x-ng-model="jeux.available"  data-toggle="tooltip" data-placement="bottom" title="Enable or Disable" ng-change="disableOrEnable(jeux.id)">
            </td>
        </tr>
    </tbody>
</table>
</div>