<meta charset="utf-8">
<br>
<br>
<div id="text">
	<hr>
	<p id="liste">Connexion</p>
	<hr>
	<br>
	<form novalidate name="loginForm">
		<div role="alert">
			<label>Username</label>
			<input type="text" class="registerText" ng-model="user.username" required ng-empty>
		</div>
		<div role="alert">
			<label>Password</label>
			<input type="password" class="registerText" ng-model="user.password" required ng-empty>
		</div>
	</form>
	<div class="center"> 
		<button class="btn btn-default center" type="submit" ng-click="login(user)" ng-disabled="loginForm.$invalid">Login</button>
	</div>
	
	<label class="remove" ng-if="connectError()">Login ou mot de passe incorrect</label>
</div>