<meta charset="utf-8">
<div id="text">
	<form novalidate name="loginForm">
		<div role="alert">
			<label>Username</label>
			<input type="text" class="registerText" ng-model="user.username" required ng-empty>
		</div>
		<div role="alert">
			<label>Password</label>
			<input type="password" class="registerText" ng-model="user.password" required ng-empty>
		</div>
	</form>
	<div>
		<button class="btn btn-default" type="submit" ng-click="login(user)" ng-disabled="loginForm.$invalid">Login</button>
	</div>
</div>