<meta charset="utf-8">
<br>
<br>
<br>
<br>
<p class="pageAdmin" align="center">Page Administrateur</p>

<div x-ng-if="!isChecked(checkboxValue)">
	<button type="button" class="btn btn-default btn-lg btnAdd" ng-click="openModal()">
		<span class="glyphicon glyphicon-plus"></span>  Ajouter un jeu
	</button>
</div>
<br>
<hr>
<br>

<label x-ng-if="!isChecked(checkboxValue)">Afficher la liste des membres</label>
<label x-ng-if="isChecked(checkboxValue)">Afficher la liste des jeux</label>
<br>
<br>

<label class="switch">
  <input type="checkbox" ng-model="checkboxValue">
  <span class="slider round"></span>
</label>

<br>
	<div x-ng-if="!isChecked(checkboxValue)"><div ng-include src="'../html/gameList.html'"></div></div>
	<div x-ng-if="isChecked(checkboxValue)"><div ng-include src="'../html/userList.html'"></div></div>
</div>

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
