<meta charset="utf-8">
<hr>
<p id="liste">Liste des membres</p>
<hr>
<table class = "table" id="policetable">
    <tbody>
    <thead>
    	<tr>
    		<th>Prénom</th>
    		<th>Nom</th>
    		<th>Date de naissance</th>
    		<th>Login</th>
    		<th>Email</th>
    		<th>Numéro de téléphone</th>
    		<th>Fiche Utilisateur</th>
    		<th ng-show='isAdmin()'>Éditer</th>
    	</tr>
    </thead>
        <tr ng-repeat="user in member">
            <td>
                <span ng-bind="user.firstname"></span>
            </td>
            <td>
                <span ng-bind="user.lastname"></span>
            </td>
             <td>
                <span ng-bind="user.birthDate"></span>
            </td>
            <td>
                <span ng-bind="user.login"></span>
            </td>
            <td>
                <span ng-bind="user.email"></span>
            </td>
            <td>
                <span ng-bind="user.phoneNumber"></span>
            </td>
            <td>
            	<a href=""><span class="fa fa-search-plus" data-placement="bottom" title="Details" ng-click="openModalDetailUser(user)"></span></a>
            </td>
             <td ng-show="isAdmin()">
            	<span class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="bottom" title="Edit"></span>
            	<span class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete" x-ng-click="deleteUser(user.id)"></span>
            </td>
        </tr>
    </tbody>
</table>