<head>
    <script>
        $(function() {
            $('.range').next().text('--'); // Valeur par défaut
            $('.range').on('input', function() {
                var $set = $(this).val();
                $(this).next().text($set);
            });
        });
    </script>
</head>
<div id="text">
    <h1>Recherche de jeux</h1>
</div>
<div id="text">
    <label>Titre</label><br>
    <input class="recherchetitre" ng-model="recherche.title" type="text" placeholder="Recherche par titre"><br><br>
    <label>Prix minimum :</label>
    <form>
        <fieldset>
            <input class="curseur" type="range" name="d" min="0" max="50" step="0.5" value="0" oninput="result4.value=parseInt(d.value)"/>
            <input class="rechercheprix" ng-model="recherche.price" placeholder="0" disabled name="result4">
        </fieldset>
    </form>
    <label>Prix maximum :</label>
    <form>
        <fieldset>
            <input class="curseur" type="range" name="d" min="50" max="100" step="0.5" value="50" oninput="result4.value=parseInt(d.value)"/>
            <input class="rechercheprix" ng-model="recherche.price" placeholder="50" disabled name="result4">
        </fieldset>
    </form>

</div>
<hr>
<p id="liste">Liste de jeux</p>
<hr>
<table id="policetable">
    <tbody>
        <tr ng-repeat="jeux in liste | filter : recherche">
            <td>
                <span ng-bind="jeux.title"></span>
            </td>
            <td>
                <span class="prix" ng-bind="jeux.price"></span>
            </td>
            <td>
                <span ng-bind="jeux.type"></span>
            </td>
        </tr>
    </tbody>
</table>