@font-face {
	font-family: 'slant';
	src: url('SLANT.TTF');
}
#text{
    color: black;
}

img {
    vertical-align: initial;
}


hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
#liste{
    font-size: 50px;
    color: black;
    text-align: center;
}

/* BASE FORM */

form{
	padding: 10px;
}

label{
	
}
input{
	width: 100%;
    padding: 15px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 10px;
    color: #727272 !important;
    font-size: 13px;
    transition: all 0.4s;
}




#logo{
	color: white;
	font-size: 2em;
	font-family: slant;
}
/*.curseur[type="range"]{
    display: block;
    width: 25%;
}*/
#policetable{
    color: black;
}
.prix:after{
    content: ' €';
}
.registerText{
	color: black;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

*{
	font-size: 16px;
}
button a {
	text-decoration: none;
	color: white;
}
button a:hover {
	text-decoration: none;
	color: white;
}

#user-menu i.fa-user, #nav-mobile .user-icon{
	color: white;
	font-size: 3em;
}
#user-menu{
	padding: 0.3em;
}

#nav-banner{
	background: black;
    background: -webkit-radial-gradient(bottom,900px 90%,#3c3c3c,black);
    background: radial-gradient(900px 90% at bottom,#3c3c3c,black);
}

#nav-menu{
	background: #363636;
    border-top: 1px solid #474747;
    box-shadow: inset 0 -11px 11px -13px black;
	
}


/* helpers/align.css */

.align {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* layout/base.css */


/* modules/form.css */

::placeholder {
  color: #777;
}

.inputmenu {
  background: none;
  border: 0;
  color: #777;
  font: inherit;
  margin: 0;
  padding: 0;
}
#nav-menu .row form{
	padding: 8px;
}
.form__field {
  height: 2.1em;
  align-items: center;
  background-color: #343434;
  border-radius: 0.125em;
  box-shadow: inset 1px 1px 1px #242424, inset -1px -1px 1px #565656;
  color: #aaa;
  display: flex;
}

.form-search input[type='search'] {
  flex-grow: 1;
  padding-bottom: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.75em;
}

.form-search input[type='submit'] {
  background-image: url('https://cdn.rawgit.com/marcobiedermann/playground/master/ui/search/simple-search-bar/dist/assets/images/magnifier.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1.5em;
  order: -1;
  padding: 0.75em;
  text-indent: -999px;
  width: 3em;
}
.fa-shopping-basket{
	color: white;
	margin-top: 0.57em;
    font-size: 1.4em;
}


/* NAV-MOBILE */

#nav-mobile{
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ececef;
	height: 100%;
	transition-duration: 0.5s;
	position: fixed;
}

#nav-mobile ul{
	list-style: none;
    padding: 0;
}
#nav-mobile ul a{
	color: black;
	text-decoration: none;
}
#nav-mobile ul li{
	padding: 0.5em 2.8em;
}

#nav-mobile ul li:hover{
	background-color: #d0d0db;
	
}
.user-mobile{
	text-align: center;
	border-bottom: solid 1px white;
}

.invisible{
	display: none;
}
.hors-ecran {
	visibility: hidden;
}

.remove{
	color: #fc4727;
}

/* Page Admin */
.pageAdmin {
	color: white;
	font-family: serif;
	font-size: 5em;
}
.btnAdd{
	color: black;
	background-color: lime;
}


.table-game{
	width: 100%; /* � adapter selon vos contraintes */
  table-layout: fixed; 
}

.table-game td{
	max-width: 100px;
    word-wrap: break-word; 
}


.content-panier{
    background-color: orange;
    color: white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    padding: 2px;
    text-align: center;
    position: absolute;
    top: 22px;
    left: 30px;
}


/* ############################################################### FORMULAIRE ############################################################### */



/* ############################################################### BASKET ############################################################### */





