<div class="modal-body">
	<form name="form" class="css-form" novalidate>
		
		<div role="alert">
			<label>Nom</label><br>
			<input type="text" ng-model="adherent.nom" name="uNom" required ng-empty>
			<span class="error remove" ng-show="form.uNom.$error.required">nom requis</span>
		</div>
		
		<div role="alert">
			<label>Prénom</label><br>
			<input type="text" ng-model="adherent.prenom" name="uPrenom" required ng-empty>
			<span class="error remove" ng-show="form.uPrenom.$error.required">prénom requis</span>
		</div>
		
		<div role="alert">
			<label>Date de naissance</label><br>
			<input type="date" ng-model="adherent.date_naissance" name="uDate" required ng-empty>
			<span class="error remove" ng-show="form.uDate.$error.required">date de naissance requise</span>
		</div>
		
		<div role="alert">
			<label>Email</label><br>
			<input type="email" ng-model="adherent.email" name="uEmail" required ng-empty>	
      		<span class="error remove" ng-show="form.uEmail.$error.email">email invalide</span>
      		<span class="error remove"" ng-show="form.uEmail.$error.required">email requis</span>
    	</div>
		
		<div role="alert">
			<label>Login</label><br>
			<input type="text" ng-model="adherent.login" name="uLogin" required ng-empty>
			<span class="error remove" ng-show="form.uLogin.$error.required">login requis</span>
		</div>
		
		<div role="alert">
			<label>Password</label><br>
			<input type="password" ng-model="adherent.password" name="uPassword" required ng-empty>
			<span class="error remove" ng-show="form.uPassword.$error.required">password requis</span>
		</div>
		
		<div role="alert">
			<label>Entrez à nouveau votre password</label><br>
			<input type="password" name="uPassword2" required ng-empty>
			<span class="error remove" ng-show="form.uPassword2.$error.required || form.uPassword2 == form.uPassword">password requis</span>
		</div>
	
	</form>
</div>
<div>
	<button type="button" class="btn btn-default" ng-click="addUser(adherent)">Send</button>
</div>